body {
    width: 450px;
    margin: 0 auto;

}
img{
    border-radius: 50%;
}
img{
    border-radius: 50%;
}
img{
    border-radius: 50%;
}
<style>
p {
    background-image: url ('https://byui-wdd.github.io/wdd130/ice/w05_circles.jpg');
}
</style>