#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(153, 209, 114, 0.7);
}
nav a:hover {
    background-color: rgb(209, 34, 34);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #1f78d0;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}  
    