#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fbfafa; 
}
header {
    background-color:#4B88B3;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #92600F;
}    
