#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fbfafa; 
}
header {
    background-color:#4B88B3(153, 209, 114, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}
.header {
    padding: 80px;
    text-align: center;
    background-color: #4B88B3;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #92600F;
}    
